
  <ion-menu side="start" menuId="custom" contentId="main"class="my-custom-menu">
    <ion-header>
      <div class="header headerNav">
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false" color="light"></ion-menu-button>
        </ion-buttons>
        <!--<div class="header__greeting">{{today | date: 'dd/MM/yyyy'}}</div>-->
      </div>
    
    </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navToPage('home')"> Home </ion-item>
      <ion-item (click)="navToPage('statistic')">Statistik</ion-item>
      <ion-item (click)="navToPage('fantasyleague')">Fantasy League</ion-item>
      <ion-item (click)="navToPage('avatar-setting')">Avatar</ion-item>
      <ion-item (click)="navToPage('store')">Marktplatz</ion-item>

    </ion-list>
  </ion-content>
  </ion-menu>
<ion-router-outlet id="main" ></ion-router-outlet>


<ion-header>
  <div class="header">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="light"></ion-menu-button>
    </ion-buttons>
    <div class="header__greeting"><span>Statistik</span></div>
  
  </div>

</ion-header> 


<ion-content [fullscreen]="true">
  <ion-content padding>

  <ion-card class="buttonWrapper">
    <ion-badge size="small" color="light">Gesamt: {{countStorageData}}</ion-badge>
    <ion-badge size="small" color="medium">Offen: {{unfinishedStorageData}}</ion-badge>
    <ion-badge size="small" color="dark">Fertig: {{doneStorageData}}</ion-badge>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <canvas id="line-chart" width="800" height="750"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card disabled="{{activeDonut}}">
    <ion-card-content>
      <canvas id="donut-chart" width="800" height="750"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card disabled="{{activeBurn}}">
    <ion-card-content>
      <canvas id="burn-chart" width="800" height="750"></canvas>
    </ion-card-content>
  </ion-card>

  
<!-- <script src="./myChart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
</ion-content>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> -->