
.header{
  height: 220px;
  background-image: url("../../../assets/Background1cut.png");
  background-size: cover;
  background-color: #646361;
  &__greeting{
    // splits welcome and user name into two lines
    span::before {content: '\A'; white-space: pre;}
    font-size: 35px;
    color: #f3f2f0;
    text-align: center;
    margin-top: 20px;
  }
}


.headerNav{
  background-image: none;
  background-color: #D9762E;
}

.imgFox {
  max-height: 150px;
  width: auto;
  margin: auto;
  display: block;
}

.imgMice {
  margin: auto;
  width: 40px;
}

.headerMoney {
  color: #EEEDE9;
  margin: auto;
  font-size: 18px;
}

.titleSpan {
  color: #EEEDE9;
  margin: auto;
  width: 80%;
  font-size: 18px;
}

ion-checkbox {
  --background: #EEEDE9;
}

ion-item {
  --color: #524F49;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-badge {
  padding: 6px;
  margin-left: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}