
.header{
    height:30vh;
    background-color: #1F2833;
    &__greeting{
      // splits welcome and user name into two lines
      span::before {content: '\A'; white-space: pre;}
      font-size: 28px;
      color: #66FCF1;
      position: relative;
      left:0;
      margin: 28px;
      text-align: left;
    }
  }
  
  .headerNav{
    background-color: #1F2833;
  }