
  <ion-menu side="start" menuId="custom" contentId="main"class="my-custom-menu">
    <ion-header>
      <div class="header headerNav">
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false" color="light"></ion-menu-button>
        </ion-buttons>
        <!--<div class="header__greeting">{{today | date: 'dd/MM/yyyy'}}</div>-->
      </div>
    
    </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navToPage('home')"> Home </ion-item>
      <ion-item (click)="navToPage('statistic')">Statistik</ion-item>
      <ion-item (click)="navToPage('fantasyleague')">Spielerranking</ion-item>
      <ion-item (click)="navToPage('avatar-setting')">Avatar</ion-item>
      <ion-item (click)="navToPage('store')">Marktplatz</ion-item>
      <ion-item (click)="navToPage('story')">Fox Story</ion-item>

    </ion-list>
  </ion-content>
  </ion-menu>
<ion-router-outlet id="main" ></ion-router-outlet>


<ion-header>
<div class="header">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false" color="light"></ion-menu-button>
  </ion-buttons>
  <div class="header__greeting"><span>Marktplatz</span></div>
  <div class="headerMoney">
    Deine Mäuse: {{money}}
    <img class="imgMice" src="../../assets/icon/Maus1.png" alt="Description"/> 
  </div>

</div>

</ion-header> 


<ion-content>
  <!-- List of Text Items -->
<ion-list mode="ios">
  <ion-list-header>
    Avatar
  </ion-list-header>
  <ion-item disabled="false">
    <ion-avatar slot="start">
      <ion-img src="../../assets/icon/Fox2icon.png"></ion-img>
    </ion-avatar>
    <ion-label>Flower Power</ion-label>
    <ion-button (click)="foxAvatar(2, 10)" size="small" color="medium" disabled="{{activeFox2}}">
      10 Mäuse
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img src="../../assets/icon/Fox5icon.png"></ion-img>
    </ion-avatar>
    <ion-label>Foxy Holmes</ion-label>
    <ion-button (click)="foxAvatar(5, 10)"  size="small" color="medium" disabled="{{activeFox5}}">
      10 Mäuse
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img src="../../assets/icon/Fox3icon.png"></ion-img>
    </ion-avatar>
    <ion-label>Prinzessin Fox</ion-label>
    <ion-button (click)="foxAvatar(3, 20)" size="small" color="medium" disabled="{{activeFox3}}">
      20 Mäuse
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img src="../../assets/icon/Fox4icon.png"></ion-img>
    </ion-avatar>
    <ion-label>Space Invader</ion-label>
    <ion-button (click)="foxAvatar(4, 50)" size="small" color="medium" disabled="{{activeFox4}}">
      50 Mäuse
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<!--<ion-card>
  <img src="../../assets/icon/Fox3.png" />
  <ion-card-header>
    <ion-card-subtitle>Avatar</ion-card-subtitle>
    <ion-card-title>Prinzessin Fox</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      Für 5 Mäuse gehört diese Avatar Prinzessin zu deinem Inventar
      <ion-button size="small" fill="outline" slot="end">Kaufen</ion-button>
  </ion-card-content>
</ion-card>-->

<ion-list mode="ios">
  <ion-list-header>
    Diagramme
  </ion-list-header>
  <ion-item>
    <ion-avatar slot="start">
    </ion-avatar>
    <ion-label>Donut Diagramm</ion-label>
    <ion-button (click)="chartStatus(0, 10)" size="small" color="dark" disabled="{{chartDonut}}">
      10 Mäuse
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
    </ion-avatar>
    <ion-label>Balken Diagramm</ion-label>
    <ion-button (click)="chartStatus(1, 20)" size="small" color="dark" disabled="{{chartBurn}}">
      20 Mäuse
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

</ion-content>
