
.header{
    height:30vh;
    background-color: #282828;
    &__greeting{
      // splits welcome and user name into two lines
      span::before {content: '\A'; white-space: pre;}
      font-size: 28px;
      color: #f0f0f0;
      position: relative;
      left:0;
      margin: 10px;
      text-align: left;
  
    }}
  
  .listItemLabel{
    color: #323232;
  }