
  <ion-menu side="start" menuId="custom" contentId="main"class="my-custom-menu">
    <ion-header>
      <div class="header headerNav">
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false" color="light"></ion-menu-button>
        </ion-buttons>
        <!--<div class="header__greeting">{{today | date: 'dd/MM/yyyy'}}</div>-->
      </div>
    
    </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navToPage('home')"> Home </ion-item>
      <ion-item (click)="navToPage('statistic')">Statistik</ion-item>
      <ion-item (click)="navToPage('fantasyleague')">Spielerranking</ion-item>
      <ion-item (click)="navToPage('avatar-setting')">Avatar</ion-item>
      <ion-item (click)="navToPage('store')">Marktplatz</ion-item>

    </ion-list>
  </ion-content>
  </ion-menu>
<ion-router-outlet id="main" ></ion-router-outlet>


<ion-header>
  <div class="header">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="light"></ion-menu-button>
    </ion-buttons>
    <div class="header__greeting"><span>Spielerranking</span></div>
  </div>

</ion-header> 

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
      Tagesziel: {{aimTasks}} Mäuse
      </ion-card-title>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list #myList>
      <!-- <ion-reorder-group
        (ionItemReorder)="onItemReorder($event)"
        [disabled]="false"
      > -->

      <ion-item class="list" *ngFor="let item of itemsToDo ; let i = index">
        <ion-icon name="paw-outline" slot="start"></ion-icon>
        <!-- <ion-reorder slot="end"> -->

            <ion-label line="none">
              <div class="Enemy"> 
                <div class="Enemy Nr"> {{i+1}}. </div>
                {{item.title}} mit {{item.value}} <img class="imgMice" src="../../assets/icon/Maus2.png" alt="Description"/> 
              </div> 
              </ion-label
            >
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ausgewählter Avatar</ion-card-subtitle>
      <ion-card-title>{{currentAvatar}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aktuell hast du {{money}} <img class="imgMice" src="../../assets/icon/Maus2.png" alt="Description"/>  gesammelt. 
      Wie viele Mäuse haben deine virtuellen Konkurrenten gesammelt? <br>
        <!--<ion-button size="small" fill="outline" color="medium" slot="end">Mehr Info</ion-button>-->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Einstellungen</ion-card-subtitle>
      <ion-card-title>Schwierigkeit</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Anhand der Schwierigkeit wird das tägliche Ziel an zu erledigenenden Tasks gesetzt. Die letzten 8 Tage werden als Basis für die Berechnung genommen.
      Druch diese Einstellungen wird auch das Level der virtuellen Gegner geregelt.
      
      <ion-item lines="none">
      <ion-segment mode="ios" color="dark" value={{difficulty}}>
        <ion-segment-button (click)="setDif(6)" value="leicht">
          <ion-label color="success">leicht</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="setDif(3)"  value="mittel">
          <ion-label color="primary">mittel</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="setDif(1)"  value="schwer">
          <ion-label color="danger">schwer</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>
