
  <ion-menu side="start" menuId="custom" contentId="main"class="my-custom-menu">
    <ion-header>
      <div class="header headerNav">
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false" color="light"></ion-menu-button>
        </ion-buttons>
        <!--<div class="header__greeting">{{today | date: 'dd/MM/yyyy'}}</div>-->
      </div>
    
    </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navToPage('home')"> Home </ion-item>
      <ion-item (click)="navToPage('statistic')">Statistik</ion-item>
      <ion-item (click)="navToPage('fantasyleague')">Spielerranking</ion-item>
      <ion-item (click)="navToPage('avatar-setting')">Avatar</ion-item>
      <ion-item (click)="navToPage('store')">Marktplatz</ion-item>

    </ion-list>
  </ion-content>
  </ion-menu>
<ion-router-outlet id="main" ></ion-router-outlet>


<ion-header>
  <div class="header">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="light"></ion-menu-button>
    </ion-buttons>
    <img class="imgFox" src={{foxPath}} alt="Description"/>
  
  </div>

</ion-header> 

<ion-content>
  <ion-list>
    <ion-radio-group value="{{startFox}}">
      <ion-list-header>
        <ion-label>Avatar</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Junger Padawan</ion-label>
        <ion-radio (click)="foxAvatar(0)" slot="start" value="0"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Harry Propper</ion-label>
        <ion-radio (click)="foxAvatar(1)" color="danger" slot="start" value="1"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Flower Power</ion-label>
        <ion-radio (click)="foxAvatar(2)" color="success" disabled="{{activeFox2}}" slot="start" value="2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Foxy Holmes</ion-label>
        <ion-radio (click)="foxAvatar(5)" color="secendary" disabled="{{activeFox5}}" slot="start" value="5"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Prinzessin Fox</ion-label>
        <ion-radio (click)="foxAvatar(3)" color="medium" disabled="{{activeFox3}}" slot="start" value="3"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Space Invader</ion-label>
        <ion-radio (click)="foxAvatar(4)" color="warning" disabled="{{activeFox4}}" slot="start" value="4"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
